body{
    background-color: #E7E8E7;
}
.logo{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin: 10px 0 0 10px;
    color: #474143;
}
#menu{
    float: right;
}
*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
 }
 .text-uppercase{
     text-transform: uppercase;
 }
 .menu-item a{
     text-decoration: none;
     color: #474143;
     font-weight: 600;
     transition: all .7s;
 }
 .menu-item a:hover{
     color: #FFFFFF;
     transition: all .7s;
 }
 .menu-item{
     list-style-type: none;
     list-style: none;
     display: inline-block;
     letter-spacing: .4px;
     margin-right: 10px;
     font-size: 20px;
     font-family: 'Poppins', sans-serif;
 }
 #menu ul{
     list-style: none;
     display: inline-block;
 }
 .welcome{
     font-family: 'Poppins', sans-serif;
     font-weight: 700;
     font-size: 50px;
     color: #474143;
 }
 #header{
     margin-left: 60px;
     margin-top:70px;
 }

 .wave {
    animation-name: wave-animation;  
    animation-duration: 2.5s;        
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;       
    display: inline-block;
    font-size: 50px;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  
    100% { transform: rotate( 0.0deg) }
  }
  
  
#card{
    width: 300px;
    background-color: #F2F2F2;
    border: #474143;
    border-radius: 20px;
    float: left;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    height: 300px;
    margin-bottom: 20px;
}  
#cards{
    margin-top: 100px;
}
#card p{
    margin-top: 20px;
}
  





