*{
    padding: 0;
    margin: 0;
}
body{
   font-family: 'Poppins',sans-serif; 
   background-color: #EAF2CE;
}
#name-input{
    margin-top: 20px;
    margin-left: 20px;
}
#name-input .input-name{
    margin-top: 10px;
    font-family: 'Poppins',sans-serif;
    padding: 10px;
    border: 4px solid transparent;
    border-radius: 20px;
    background: 
      linear-gradient(to right, white, white), 
      linear-gradient(to right, #F067B4 , #81FFEF); 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    
    

}
#name-input input::placeholder{
    font-family: 'Poppins',sans-serif;
}
#name-input .button{
    font-family: 'Poppins', sans-serif;
    background-color: #0077ED;
    letter-spacing: -0.374px;
    font-size: 17px;
    color: #fff;
    width: 71.3906px;
    height: 30px;
    border: #0077ED;
    border-radius:40px ;
    margin-top: 20px;
    
}
 .icon-s {
     font-size: 20px;
     margin-left: 20px;
     text-align: right;
    
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 5px;
    border: 5px solid black;
    padding: 5px;
    border-radius: 100px;
    transition: all .7s;


}
.icon-s:hover{
    color: #000000;
    border: 5px solid #ffffff;
}
#inventory{
    position: absolute;
    background-color: #0077ED;
    color: #fff;
    width: 350px;
    height: 750px;
    border-radius: 5px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    visibility: hidden;
    z-index: 500;
}
#market{
    
    position: absolute;
    background-color: #707365;
    color:#EAF2CE;
    width: 350px;
    height: 750px;
    border-radius: 5px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    visibility: hidden;
    z-index: 500;
    padding: 5px;
    
}
#market ul li button{
    width: 70px;
    border-radius: 5px;
    border: #000000;
    background-color: #0077ED;
    color: #ffffff;
    height: 25px;
    font-family: 'Poppins',sans-serif;
}
#market li{
    position: relative;
    margin-top: 20px;
    font-size: 15px;
    list-style: none;
}
#inventory li{
    margin-top: 20px;
    font-size: 15px;
    list-style: none;
}
#storage{
    position: absolute;
    background-color: #0077ED;
    color: #fff;
    width: 350px;
    height: 750px;
    border-radius: 5px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    visibility: hidden;
    z-index: 500;
}
#storage li{
    margin-top: 20px;
    font-size: 15px;
    list-style: none;
}
#customers{
    margin-top: 100px;
    float: left;
}
.customer{
    margin-left: 30px;
    background-color: #585959;
    width: 200px;
    float: left;
    margin-top: 50px;
    margin-left: 50px;
    color: #F2F2F2;
    padding: 20px;
    border-radius: 5px;
    border: #000000;
    
}
.customer button{
    background-color: #F2F2F2;
    color: #585959;
    font-family: 'Poppins',sans-serif;
    border: #000000;
    border-radius: 3px;
    width: 100px;
}
#customer button:hover{
    color: #F2F2F2;
    background-color: #585959;
}
#customers h1{
    margin-left: 20px;
}
#money-text{
    visibility: hidden;
}

/*INVENTORY SYSTEM kutdev */
#inventory #makinei{
    visibility: hidden;
    z-index: 501;
}
#inventory #pamuki{
    visibility: hidden;
}
#inventory #fermi{
    visibility: hidden;
}
#inventory #astari{
    visibility: hidden;
}
#inventory #kapi{
    visibility: hidden;
    
}
#inventory #makasi{
    visibility: hidden;
    
}
#inventory #derii{
    visibility: hidden;
    
}
#inventory #vidai{
    visibility: hidden;
    
}
#inventory #cami{
    visibility: hidden;
    
}
#inventory #plastii{
    visibility: hidden;
    
}#inventory #pressi{
    visibility: hidden;
    
}#inventory #metali{
    visibility: hidden;
    
}#inventory #titani{
    visibility: hidden;
    
}#inventory #bakiri{
    visibility: hidden;
    
}
/*Storage System kutdev*/
#storage #ceketl{
    visibility: hidden;
    z-index: 501;
}
#storage #pceketl{
    visibility: hidden;
}
#storage #kazakl{
    visibility: hidden;
}
#storage #deriell{
    visibility: hidden;
}
#storage #deriayl{
    visibility: hidden;
    
}
#storage #corapl{
    visibility: hidden;
    
}
#storage #gozlukl{
    visibility: hidden;
    
}
#storage #lastikl{
    
    visibility: hidden;
    
}
#storage #arabal{
    visibility: hidden;
    
}
#storage #tirl{
    visibility: hidden;
    
}
#storage #gemil{
    visibility: hidden;
    
}
#storage #pcaml{
    visibility: hidden;
    
}
#workshop{
    
    position: absolute;
    background-color: #707365;
    color:#EAF2CE;
    width: 350px;
    height: 1000px;
    border-radius: 5px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    visibility: hidden;
    z-index: 500;
    padding: 5px;
    
}
#workshop ul li button{
    width: 70px;
    border-radius: 5px;
    border: #000000;
    background-color: #0077ED;
    color: #ffffff;
    height: 25px;
    font-family: 'Poppins',sans-serif;
}
#workshop li{
    position: relative;
    margin-top: 20px;
    font-size: 15px;
    list-style: none;
}
#footer{
    border: 5px solid #000;
}